.poster {
    max-width: 700px;
    margin: auto;
    padding: 40px 20px;
    text-align: center;
}

.poster h1 {
    font-family: 'Playfair Display', serif;
    font-size: clamp(2.7rem, 6vw, 4rem);
    margin: 0;
    color: #fff;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

section {
    background: rgb(255 235 181 / 76%);
    padding: 2rem 2.5rem;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    margin: 1.5rem 0;
}

section h2 {
    color: #e63946;
    font-size: 2.3em;
    letter-spacing: 2px;
    margin: 10px 0 30px;
    text-align: left;
    /* text-shadow: 2px 2px 6px #2d1d12; */
}

section h3 {
    color: #c52f3a;
    font-size: 1.4em;
    letter-spacing: 1px;
    margin: 30px 0 12px;
    text-align: left;
}

section p {
    text-align: justify;
}

.gmaps {
    width: 100%;
    height: 400px;
    border: 0;
    border-radius: 8px;
}
