.banner {
    aspect-ratio: 3/2;
    background: url("./travel_3_2.jpeg") no-repeat center top;
}

.banner-bounds {
    aspect-ratio: 5/1;
}

.poster {
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
    text-align: center;
}

.poster h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4em;
    margin: 0;
    color: #fff;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

.poster h2 {
    font-size: 2.3em;
    margin: 10px 0 30px;
    color: #f9ac2a;
    letter-spacing: 2px;
    text-shadow: 2px 2px 6px #2d1d12;
}
